
  .containers{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

.price{
  display: flex;
  justify-content: center;
}

.name{
  display: flex;
  justify-content: center;
}

.info{
  display: flex;
  justify-content: center;
}

.card-image {
    width: 438px;
    height: 438px;
    align-items: center;
  }

  .boxs{
    width: 30%;
    justify-content: center;
    flex-wrap: wrap;
    background-color: antiquewhite;
    margin: 5px;
  }

  

  